.top {
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../assets/img/topbg.jpg');
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fcfcfc;
    font-family: 'Doppio One';
    
    &-heading {
        width: 450px;
        h2 {
            text-transform: uppercase;
            font-size: 2.2rem;
            font-weight: bold;
        }
    }
}